body {
    /* background: url(coffee-apple.jpg) no-repeat center center fixed;
     -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover; */

    background-color: black !important;
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}
input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #ffff8f !important;
}
